@import url(http://fonts.googleapis.com/css?family=Sansita+One);
.main-header{

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-align: center;
vertical-align: middle;
}


.main-header img{
margin-bottom: 0px;
width:64px;
height:64px;
vertical-align: middle;
}
.main-header li{
  list-style: none;
  display:inline;
}
/*
.main-header li{
  display:inline-block;
  
  padding:5px 5px 5px 5px;
  font-size: 25px;
  background-color: lightblue;
  color: white;
  opacity: 0.75;
  font-family: 'Sansita One', cursive;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  
  
  border-color: blue;
  border-width: 10px;
  border-radius: 0px 0px 100px 100px;
  padding: 20px;

}

.main-header li:active{
 box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  position: relative;
  top: 10px;

}
.main-header li:hover{
background-color: lightblue;
color: white;
opacity:1
     
}
*/

.inner{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-100px;
width:200px;
height:100px;
padding:0 0 0 0;
text-align:left;
}
/*border-style: solid;
border-width:1px;
border-color:red;
*/
.container{
margin-top:10px;

}

.big-button {

  position: relative;
  background-color: lightblue;
  color: white;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  margin-top:10px;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  margin: 50px auto;
  
  border-color: blue;
  border-width: 10px;
  border-radius: 100px 100px 100px 100px;
  padding: 20px;
}
.main-header .big-button{
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  border-radius: 0px 0px 100px 100px;
  padding: 40px 40px 40px 40px;
  margin-right:1%;
  margin-left:1%;
  


}

.big-button:active {
  box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  position: relative;
  top: 10px;
}

