@import url(http://fonts.googleapis.com/css?family=Sansita+One);
.main-header{

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-align: center;
vertical-align: middle;
}

p a img{
  width:30px;
  height:30px;

}

.main-header img{
margin-bottom: 0px;
width:64px;
height:64px;
vertical-align: middle;
}
.main-header li{
  list-style: none;
  display:inline;
}
/*
.main-header li{
  display:inline-block;
  
  padding:5px 5px 5px 5px;
  font-size: 25px;
  background-color: lightblue;
  color: white;
  opacity: 0.75;
  font-family: 'Sansita One', cursive;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  
  
  border-color: blue;
  border-width: 10px;
  border-radius: 0px 0px 100px 100px;
  padding: 20px;

}

.main-header li:active{
 box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  position: relative;
  top: 10px;

}
.main-header li:hover{
background-color: lightblue;
color: white;
opacity:1
     
}
*/

.inner{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-100px;
width:200px;
height:100px;
padding:0 0 0 0;
text-align:left;
}
/*border-style: solid;
border-width:1px;
border-color:red;
*/

.big-button {

  position: relative;
  background-color: lightblue;
  color: white;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  margin-top:10px;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  margin: 50px auto;
  
  border-color: blue;
  border-width: 10px;
  border-radius: 100px 100px 100px 100px;
  padding: 20px;
}

.big-button:active {
  box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  position: relative;
  top: 10px;
}
.big-button-onpage{
  position: relative;
  background-color: lightblue;
  color: white;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  margin-top:10px;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 3px 0px blue, 0px 3px 6px blue;
  -moz-box-shadow: 0px 3px 0px blue, 0px 3px 6px blue;
   box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  
  margin: 50px auto;
  
  border-radius: 0px 0px 100px 100px;
  border-color: blue;
  border-width: 10px;

 padding: 40px 40px 40px 40px;
  margin-right:1%;
  margin-left:1%;



}
.main-header .big-button{
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  
  border-radius: 0px 0px 100px 100px;
  padding: 40px 40px 40px 40px;
  margin-right:1%;
  margin-left:1%;
  


}
.main-content .bigbutton-onpage{
    -webkit-box-shadow: 0px 3px 0px blue, 0px 3px 6px blue;
  -moz-box-shadow: 0px 3px 0px blue, 0px 3px 6px blue;
  box-shadow: 0px 3px 0px blue, 0px 3px 6px blue;
  
  padding: 40px 40px 40px 40px;
  margin-right:1%;
  margin-left:1%;

}


.main-content{
  margin-top:40px;
 /* background-color:grey;*/
  width:100%;
  height:60%;
  text-align: center;
  left: 50%;
  right: 50%;
}
.main-content ul{
  list-style:none;
}
.main-content table{
  text-align: center;
  margin: 0 auto;

  border-spacing:50px 80px;
  border-collapse: separate;
}

.main-content article{
margin: 5px 5px 5px 5px;
font-family: 'Sansita One', cursive;
}
.main-content article img{
  width:256px;
  height:256px;
}
.main-content article input{
  font-family: 'Sansite One', cursive;

}

.option{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  position: relative;
  background-color: lightblue;
  color: white;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border-color: blue;
  border-width: 10px;
  border-radius: 100px 100px 100px 100px;
  
  -webkit-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  -moz-box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  box-shadow: 0px 15px 0px blue, 0px 10px 25px blue;
  padding: 30px 30px 30px 30px;
}

.option:active {
  box-shadow: 0px 3px 0px blue, 0px 3px 6px;
  position: relative;
  top: 10px;
}
.lsubling{
position: relative;
width:49%;
text-align:left;
float:left;
}
.rsubling{
position: relative;
margin-left:auto;
text-align:left;
width:49%;
float:right;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
left: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
}

.back-to-top img {
  width:70px;
  height:70px;
}
.races{
width:auto;
height:auto;
text-decoration: none;
font-family:'Sansita One' ,cursive;
}
.races a img{
width:50px;
height:50px;
}
#results{
padding:1px 1px 1px 1px;
border-spacing: 0px;
background-color:grey;
color:white;
 font-family: 'Sansita One';
}
#results a{
color:white;
}
#results tr,td{
  text-align: left;
}
#results td{
  border: 1px solid black;

}
#results  th{
  background-color:darkgrey;
  padding:5px 5px 5px 5px;
  text-align: center;
}
#results img{
width:30px;
height:30px;


}

#back {
    position: fixed;
    left:0px;
    bottom:0px;
    text-align: center;

    -webkit-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

#back img{
  width:100px;
  height:100px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
