{{#results}}
<div class="lsubling">
			<article>
				<label>ID </label><input type="text" size="1" maxlength="4"  value="{{SeamanID}}"  id="SeamanID" readonly >
				Seaman:<input type="text" value="{{Name}}" id="Name">
				<label>Rank</label>
				<select id="ranks" >
				</select>
			</article>
			<article>
				<img src="img/userpic.png">
			</article>
			<article>
				<label>Date of birth:</label> <input type="text" value="{{Birth_date}}" id="Birth_date">
				<label>Birth place:</label><input type="text" value="{{Birth_place}}" id="Birth_place"><br>
			</article>
			<article>
				<label>Nationality:</label><input type="text" value="{{Nationality}}" id="Nationality"><br>
			</article>
			<article>
				<label>E-mail:</label><input type="text" value="{{Email}}" id="Email"><br>
			</article>
			<article>
				<label>Address:</label><input type="text" value="{{Address}}" id="Address"><br>
			</article>
			<article>
				<label>City:</label><input type="text" value="{{City}}" id="City"><br>
			</article>
			<article>
				<label>Country:</label><input type="text" value="{{Country}}" id="Country">
			</article>
			<article>
				<label>Telephone:</label><input type="text" value="{{Telephone}}" id="Telephone"><br>
			</article>
			<article>
				<label>Recr.Agent:<label><input type="text" value="{{Recruiting_agent}}" id="Recruiting_agent"><br>
			</article>
			<article>
				<label>Notes</label><textarea rows="10" cols="50" value="{{Notes}}" id="Notes"></textarea>
			</article>
		</div>
		<div class="rsubling">
			<article>
				<label>USA Visa</label><input type="checkbox" id="usavisa">
			<script>
				var visa='{{USA_visa_expiration}}';
				if (!visa)
					{
	    				$( "#usavisa").prop('checked', false);
					}
					else
					{
   	 					$( "#usavisa").prop('checked', true);
					}
				</script>
			</article>
			<article>
				<label>Exp.Date:</label><input type="text" value="{{USA_visa_expiration}}" id="USA_visa_expiration"><br>
			</article>
			<article>
				<label>Modified:</label><input type="text" value="{{Rank_modify}}" id="Rank_modify"><br>
			</article>
			<article>
				<label>Applic. on date:</label><input type="text" value="{{Application_date}}" id="Application_date"><br>
			</article>
			<article>
				<label>CRA valid till:</label><input type="text" value="{{CRA_expiration}}" id="CRA_expiration"><br>
			</article>
			<article>
				<label>Seaman book:</label><input type="text" value="{{Seaman_book_number}}" id="Seaman_book_number">
			</article>
			<article>
				<label>Exp. date:</label><input type="text" value="{{Seaman_book_expiration}}" id="Seaman_book_expiration"><br>
			</article>
			<article>
				<label>Passport:</label><input type="text" value="{{Passport_number}}" id="Passport_number">
			</article>
			<article>
				<label>Exp. date</label><input type="text" value="{{Passport_expiration}}" id="Passport_expiration"><br>
			</article>
			<article>
				<label>Malta:</label><input type="text" value="{{Malta_license_number}}" id="Malta_license_number"><br>
			</article>
			<article>
				<label>S.V.G.:</label><input type="text" value="{{SVG_license_number}}" id="SVG_license_number"><br>
			</article>
			<article>
				<label>Bahamas:</label><input type="text" value="{{Bahamas_license_number}}" id="Bahamas_license_number"><br>
			</article>
			<article>
				<label>Cayman:</label><input type="text" value="{{Cayman_license_number}}" id="Cayman_license_number"><br>
			</article>
			<article>
				<label>Panama:</label><input type="text" value="{{Panama_license_number}}" id="Panama_license_number"><br>
			</article>
			<article>
				<label>Gibraltar:</label><input type="text" value="{{Gibraltar_license_number}}" id="Gibraltar_license_number"><br>
			</article>
			<article>
				<label>National license:</label><input type="text" value="{{National_license_number}}" id='National_license_number'><input type="text" value="{{National_license_expiration}}" id='National_license_expiration'><br>
			</article>
			<article>
				<input type="submit" value="Save" id="editSeamanButton">
			</article>
		</div>
		{{/results}}