
<table id="results">
    <tr>
        <th>Edit</th>
        <th>Embarked Ship</th>
        <th>Embarkation date</th>
        <th>Embarkation port</th>
        <th>Embarked</th>
        <th>Disembarkation date</th>
        <th>Disembarkation port</th>
        <th>Disembarked</th>
        <th>Notes</th>
        <th>Delete</th>
    </tr>
    {{#results}}
    <tr>
        <td>
            <a href="currseaman.html?who={{objectId}}" class="link"><img src="./img/edit.png"></a>
        </td>
        <td>{{Ship}}</td>
        <td>{{Embarking_date}}</td>
        <td>{{Embarking_port}}</td>
        <td><input type='checkbox' id='embarked'></td>
        <script>
        $( "#embarked").prop('checked', {{Embarked}});
        </script>
        <td>{{Disembarking_date}}</td>
        <td>{{Disembarking_port}}</td>
        <td><input type='checkbox' id='disembarked'></td>
        <script>
        $( "#disembarked").prop('checked', {{Disembarked}});
        </script>
        <td>{{Notes}}</td>
        <td>
            <a href="javascript:app.deleteSeaman('{{objectId}}');" class="link" ><img src="./img/delete.png"></a>
        </td>
    </tr>
    {{/results}}
</table>