<div class="races">
    <div class="addemb">
<a href="javascript:app.addSeamanEmbarkation();" class="link">Embark<img src="./img/plus.png"></a>
</div>
<table id="results">
    <tr>
        <th>Edit</th>
        <th>Embarked Ship</th>
        <th>Rank</th>
        <th>Embarkation date</th>
        <th>Embarkation port</th>
        <th>Embarked</th>
        <th>Disembarkation date</th>
        <th>Disembarkation port</th>
        <th>Disembarked</th>
        <th>Notes</th>
        <th>Delete</th>
    </tr>
    {{#results}}
    <tr>
        <td>
            <a href="javascript:app.editSeamanEmbarkation('{{objectId}}');" class="link"><img src="./img/edit.png"></a>
        </td>
        <td>{{Ship}}</td>
        <td>{{Rank}}</td>
        <td><input type='date' id='Embark_date{{objectId}}'></td>
        <td>{{Embarking_port}}</td>
        <td><input type='checkbox' id='embarked{{objectId}}'></td>
        <script>
        $( "#embarked{{objectId}}").prop('checked', {{Embarked}});
        </script>
        <td><input type='date' id='Disembark_date{{objectId}}'></td>
        <td>{{Disembarking_port}}</td>
        <td><input type='checkbox' id='disembarked{{objectId}}'></td>
        <script>
        $( "#disembarked{{objectId}}").prop('checked', {{Disembarked}});
        var date2 = new Date("{{#Embarking_date}}{{iso}}{{/Embarking_date}}");
        console.log(date2);
        console.log('#Embark_date{{objectId}}' + ' getting date set')
        var month = (date2.getMonth()+1);
        if(month<10) month="0" + month;
        var date = date2.getDate();
        if(date<10) date = "0"+date;
        var datestring = date2.getFullYear()+"-"+month+"-"+date;
        console.log(datestring);
        $("#Embark_date{{objectId}}").val(datestring);

        var date2 = new Date("{{#Disembarking_date}}{{iso}}{{/Disembarking_date}}");
        console.log(date2);
        console.log('#Disembark_date{{objectId}}' + ' getting date set')
        var month = (date2.getMonth()+1);
        if(month<10) month="0" + month;
        var date = date2.getDate();
        if(date<10) date = "0"+date;
        var datestring = date2.getFullYear()+"-"+month+"-"+date;
        console.log(datestring);
        $("#Disembark_date{{objectId}}").val(datestring);
        </script>
        <td><textarea id="Notes{{objectId}}">{{General_Notes}}</textarea></td>
        <td>
            <a href="javascript:app.deleteSeamanRace('{{objectId}}');" class="link" ><img src="./img/delete.png"></a>
        </td>
    </tr>
    {{/results}}
</table>
</div>