
<table id="results">
    <tr>
        <th>Save</th>
        <th>Seaman</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Embarked Ship</th>
        <th>Embarkation date</th>
        <th>Disembarkation date</th>
        <th>Nationality</th>
        <th>Birthplace</th>
        <th>Available</th>
        <th>Delete</th>
    </tr>
    {{#results}}
    <tr>
        <td><a href="#" class="link"><img src="./img/save.png"></td>
        <td>
            <a href="currseaman.html?who={{objectId}}" class="link"><img src="./img/edit.png"></a>
        </td>
        <td>{{Name}}</td>
        <td>{{Rank}}</td>
        <td>{{Ship}}</td>
        <td><input type='date' id='Embark_date{{objectId}}'></input></td>
        <td><input type='date' id='Disembark_date{{objectId}}'></input></td>
        <td>{{Nationality}}</td>
        <td>{{Birth_place}}</td>
        <script>
        var date2 = new Date("{{#Embarking_date}}{{iso}}{{/Embarking_date}}");
        console.log(date2);
        console.log('#Embark_date{{objectId}}' + ' getting date set')
        var month = (date2.getMonth()+1);
        if(month<10) month="0" + month;
        var date = date2.getDate();
        if(date<10) date = "0"+date;
        var datestring = date2.getFullYear()+"-"+month+"-"+date;
        console.log(datestring);
        $("#Embark_date{{objectId}}").val(datestring);

        var date2 = new Date("{{#Disembarking_date}}{{iso}}{{/Disembarking_date}}");
        console.log(date2);
        console.log('#Disembark_date{{objectId}}' + ' getting date set')
        var month = (date2.getMonth()+1);
        if(month<10) month="0" + month;
        var date = date2.getDate();
        if(date<10) date = "0"+date;
        var datestring = date2.getFullYear()+"-"+month+"-"+date;
        console.log(datestring);
        $("#Disembark_date{{objectId}}").val(datestring);
        </script>
        <td><img src="./img/cross.png" id="theimg{{objectId}}"></td>
        <td>
            <a href="javascript:app.deleteSeaman('{{objectId}}');" class="link" ><img src="./img/delete.png"></a>
        </td>
    </tr>
    {{/results}}
</table>