
<table id="results">
    <tr>
        <th>Seaman</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Last disembarked</th>
        <th>Nationality</th>
        <th>Birthplace</th>
        <th>Available</th>
        <th>Delete</th>
    </tr>
    {{#results}}
    <tr>
        <td>
            <a href="currseaman.html?who={{objectId}}" class="link"><img src="./img/userpic.png"></a>
        </td>
        <td>{{Name}}</td>
        <td>{{Rank}}</td>
        <td>{{Disembarking_date}}</td>
        <td>{{Nationality}}</td>
        <td>{{Birth_place}}</td>
        <td><img src="./img/tick.png" id="theimg{{objectId}}"></td>
        <script>
        var avail = {{Available}};
        if(!avail)$("#theimg{{objectId}}")[0].src='./img/cross.png';
        </script>
        <td>
            <a href="javascript:app.deleteSeaman('{{objectId}}');" class="link" ><img src="./img/delete.png"></a>
        </td>
    </tr>
    {{/results}}
</table>