<p><a href="addseaman.html" class="button"><img src="./img/add_user.png"></a></p>

<table id="results">
    <tr>
        <th>Action</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Nationality</th>
        <th>Birthplace</th>
        <th>Available</th>
    </tr>
    {{#results}}
    <tr>
        <td>
            <a href="currseaman.html?who={{objectId}}" class="link"><img src="./img/edit.png"></a>
            <a href="javascript:app.deleteSeaman('{{objectId}}');" class="link" ><img src="./img/delete.png"></a>
        </td>
        <td>{{Name}}</td>
        <td>{{Rank}}</td>
        <td>{{Nationality}}</td>
        <td>{{Birthplace}}</td>
    </tr>
    {{/results}}
</table>